header.banner {
  @extend .bg-primary;

  padding-top: $spacer;
  padding-bottom: $spacer;

  nav.navbar {
    @extend .p-0;
  }

  .server-select {
    width: 100%;
    margin-top: $spacer;

    @include media-breakpoint-up(md) {
      width: 50%;
      margin-top: 0;
    }

    .server-info {
      @extend .d-flex, .align-items-end;

      min-height: $spacer*2;
    }
  }
}
