$theme-colors: (
  primary:        #0f60ad,
  secondary:      #096470,
  research-light: #e8f6f8,
  research-dark:  #00A3B2,
  evaluate-light: #f5eaef,
  evaluate-dark:  #800049,
  apply-light:    #e8f0ef,
  apply-dark:     #1d5c56,
  realization:    #00a3b2,
  active:         #bad2d1,
  white:          #fff,
  modal:          #e7e4df,
  icon-bg:        #d8d8d8,
  black:          #000,
);
